body {
    background-image: url('assets/portBackground.png');
    background-size: cover; /* Ensures the image covers the entire screen */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-attachment: fixed; /* Keeps the background fixed while scrolling */
    background-position: center; /* Centers the image */
    margin: 0; /* Removes default margin */
    color: white;
    font-size: 26px;
}

header {
    background-color: navy;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-left {
    flex: 1;
}

.header-center {
    flex: 2;
    text-align: center;
}

.header-right {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.headerButton {
    background-color: rgb(0, 67, 67);
    color: blue;
    border-color: navy;
    border-style: solid;
    height: 60px;
    width: 150px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 1rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 2rem;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
}
